section.author-card {
    display: flex;
    justify-content: flex-start;
    align-content: center;

    > img {
        border-radius: 100%;
        border-style: solid;
        border-color: var(--grey-30);
        border-width: 3px;
        height: 75px;
        width: 75px;
        margin-right: var(--margin-sm);
    }

    > section > * {
        margin: 0 0 var(--margin-sm) 0;
    }

    > section > h4 {
        font-size: 18px;
        font-weight: 400;
    }

    > section > p {
        font-size: 14px;
    }

    > section > .read-more {
        font-size: 12px;
    }
}
