:root {
    --white: #ffffff;

    --grey-10: #f9f9fa;
    --grey-20: #ededf0;
    --grey-30: #d7d7db;
    --grey-40: #b1b1b3;
    --grey-50: #737373;
    --grey-90: #0c0c0d;

    --blue-60: #0060df;

    --pink-30: #f06292;
    --pink-40: #ec407a;
    --pink-50: #e91e63;
    --pink-60: #d81b60;
}
