@import "normalize.css/normalize";
@import "metrics";
@import "index";
@import "post";

@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i');

html, body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

a {
    text-decoration: none;
}

header.site-header {
    max-width: var(--page-width);
    margin: 0 auto;
}

main.site-main {
    max-width: var(--page-width);
    margin: 0 auto;
}
