@import "normalize.css/normalize";
@import "colours";
@import "metrics";
@import "index";
@import "post";
@import "byline";

@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i');

html, body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

a, a:hover, a:visited {
    color: var(--blue-60);
    text-decoration: none;
}

hr {
    border: 0;
    background-color: var(--grey-10);
    height: 2px;
    width: 100%;
}

body > * {
    max-width: var(--page-width);
    margin: 0 auto;
}

header.site-header > div {
    margin-top: var(--margin-lg);
    margin-bottom: var(--margin-xl);

    > * {
        margin: 0 var(--margin-md);
    }

    > h1 {
        margin-bottom: var(--margin-sm);
    }
}

main.site-main > div {
    margin-bottom: var(--margin-xl);

    > * {
        margin: 0 var(--margin-md);
    }
}

footer.site-footer > div {
    margin-bottom: var(--margin-xl);

    > * {
        margin: 0 var(--margin-md);
    }
}
