@import "colours";

article.post-card > div {
    margin-bottom: var(--margin-lg);

    > * {
        margin-right: var(--margin-sm);
    }

    h2 {
        display: inline-block;
        margin: 0;
        padding: var(--margin-sm) 0;
        font-size: 24px;
    }
}

article.post-card > div > footer > ul {
    padding: 0;

    > li {
        list-style: none;
    }
}

.post-card-tags {
    text-transform: uppercase;
}
