main.site-main > div > article.post-article {
    margin-bottom: var(--margin-lg);
}

article.post-article {
    > * {
        margin-bottom: var(--margin-lg);
    }

    p {
        line-height: 1.5;
        font-size: 21px;
    }

    img, video {
        max-width: 100%;
    }
}

aside.related-posts {
    display: flex;

    > div {
        flex-basis: 50%;
    }

    > div > .post-descriptor {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 400;
    }
}
